@font-face{
  font-family: RSU;
  src: url(../fonts/RSU-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face {
  font-family: 'Linearicons';
  src: url(../fonts/Linearicons-Free.ttf);
}   
/* html {
  scroll-behavior: smooth; 
} */
.none-pad{
  padding: 0px 0px 0px 0px !important;
}  
.b-0{
  margin-bottom: 0px;
}
.b0{
  border-radius: 0px !important;
}
/* .dropdown:hover>.dropdown-menu {
  display: block;
  transition: .33s all ease-out; 
} */
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }    
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
  .container-fluid{
    padding: 0px 55px;
  }
}

.lSPager, .lSAction{
  display: none !important;
} 
.lSAction > a {
  display: none !important;
}
a:hover{
  text-decoration: none;
} 
.center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  font-family: RSU; 
  background-color: #F5F6F9;
}
header{
  height: 60px;
  background-color: #D8005B; 
  box-shadow: 0pt 2pt 10pt #707070;
  padding: 10px 10px 10px;
  z-index: 1011 !important;
}
main{ 
  padding-top: 50px;
  padding-bottom: 70px;
} 

.splashscreen{ 
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 1)), url("../images/bga.jpg");
  background-position: center !important;
  background-size: auto 100vh;
  height: 100vh; 
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 9;
} 

.centerx-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}
.splash-logo{
  width: 300px; 
}
.splashscreen h1{
  color: #fff;
  font-size: 45px;
  font-weight: bold;
}
.login-bg{
  background:#E6EBEE;  
}
.login-main .logo{
  height: 188px;  
}

.login-main h3{
  font-size: 21px;
  color: #D8005B;
}
.login-main h4{
  font-size: 14px;
  color: #7B859A;
}
.login-main form input{
  width: 100%;
  height: 50px;
  margin-top: 25px;
  border: 0px solid #7B859A;
  padding:  5px 30px 5px 50px;
  font-size: 22px;
}

.bt-log{
  height: 50px;
  display: block;
  background-color: #D8005B;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border: none;
  width: 100%;
}
.bt-log:hover{ 
  color: #fff;
  background-color: #000; 
}
.login-main form input:focus{ 
  box-shadow: 0 none;
  outline: 1px solid #D8005B !important;
}

.login-main form p.p1{
  width: 24px; 
  height: 19px;
  margin-bottom: 0;
  margin-top: -35px;
  margin-left: 12px;
  z-index: 99;
  position: relative;
  background-size: 24px 19px;
  background-image: url(../images/mail.png);
}
.login-main form p.p2{
  width: 21px; 
  height: 23px;
  margin-bottom: 0;
  margin-top: -35px;
  margin-left: 12px;
  z-index: 99;
  position: relative;
  background-size: 21px 23px;
  background-image: url(../images/lock.png);
}

.login-main form input.user:focus + p.p1{
  background-image: url(../images/mail1.png);
}
.login-main form input.password:focus + p.p2{
  background-image: url(../images/lock1.png);
}

header h5{
  font-size: 18px;
  color: #fff;
}
header h6{
  font-size: 14px;
  color: #fff;
}
.menu-x{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  margin-top: 18px;
  margin-right: 15px;
  z-index: 99;
}
.left-x{
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  margin-top: 16px;
  margin-left: 15px;
  z-index: 99;
  font-weight: bold; 
} 
.left-x span{
  font-size: 26px;
} 
.alert-x{
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  margin-top: 6px;
  margin-left: 5px; 
  z-index: 99;
}
.alert-x .fa-bell{
  font-size: 26px;
} 
.alert-x:active{
  color: #fff;
}
.alert-x:hover{
  color: #fff;
}
.dropdown-menu.noti{
  padding: 0px !important; 
  right: 0 !important;
  width: 250px;
  border: 1px solid rgba(0,0,0,.1) !important;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%) !important;
  border-radius: .25rem !important;
}
.dropdown-menu.noti a{ 
  padding: 10px 5px 10px 15px;
  display: block;
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.dropdown-menu.noti a.dropdown-h{
  font-weight: bold;
  padding: 8px 5px 5px 10px !important;
  background-color: #EAECF0 !important;
}
.dropdown-menu.noti a h5{   
  font-weight: bold;
  color: #000;
  margin-bottom: 0px;
}
.dropdown-menu.noti a p{    
  color: #000;
  margin-bottom: 0px;
}


header .m{
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
}
.list-box{
  margin-top: 15px;
}
.list-box .list{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
  height: 90px;
  background-color: #fff; 
}
.list-box .list h5{ 
  color: #000;
  padding-top: 5px;
  margin-bottom: 0px;
  font-weight: bold;
}
.list-box .list h6{ 
  color: #707070;
  padding-top: 5px;
  margin-bottom: 0px; 
  font-size: 12px;
}
.list-box .list:after{
  font-family: 'Linearicons';
  content: "\e876";
  position: absolute;
  right: 0;
  color: #D8005B;
  font-weight: bold;
  margin-right: 15px;
  margin-top: -27px;
}
.list-box .list p{
  width: 60px;
  height: 60px;
  border-radius: 100%; 
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  position: relative;
  display: inline-block;
  float: left;
  font-size: 11px; 
  margin-right: 10px;
}
.list-box .list p span{ 
  margin: 0;
  position: absolute;
  top: 50%; 
  transform: translate(-50%, -50%);
}
.st1 p{
  background-color: #CC0000; 
}
.st2 p{
  background-color: #434343;
}
.st3 p{
  background-color: #016DFF;
}
.st4 p{
  background-color: #FFBB33;
}
.st5 p{
  background-color: #00C851;
} 
.list-box .list:hover{
  background-color: #F1EDED;
}  
footer {
  background-color: #fff;
  height: 72px;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: -1px;
}
footer a{
  color: #77869E; 
  font-size: 12px;
  font-weight: bold;
}
footer a i{
  font-size: 22px;
  padding-top: 15px;
}
footer a.active{
  color: #D8005B;  
}

.sub-fix{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-top: 80px;
}



#menuslide {
  display: none;
  position: fixed; 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
  z-index: 2111 !important;
  background-color: rgba(0,0,0,.75);
} 
.div-menu{
  position: fixed !important;
  background-color:#fff;
  top: 0px;
  left: 0px;
  width: 75%;
  height: 100%;
  z-index: 2222 !important;   
}  


#menuslide.active .div-menu{
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}
@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); 
}
}
@-moz-keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateX(-100%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}
 
.hmenu{
  background-color: #b8004d;
  height: 110px;
  margin-bottom: -5px;
}
.userpic{
  width: 62px;
  height: 62px;
}
.hmenu .user{ 
  color: #fff;
}
.hmenu .user h3{ 
  color: #fff;
  font-size: 20px;
  font-weight: bold;
} 
.bmenu{ 
  height: 100%;
  background: #D8005B; 
}
.bmenu ul{
  padding-top: 1px;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  background-color: #D8005B;  
  padding-bottom: 8px;
}
.bmenu ul li{
  margin-top: 5px;
  background-color: #b8004d;
}
.bmenu ul li.active{ 
  background-color: #8a033b;
}
.bmenu ul li a{
  color: #fff; 
  display: block;
  width: 100%; 
  padding: 15px 15px 15px 40px;
}
.bmenu ul li a i{
  position: absolute;
  margin-left: 15px;
  left: 0;
  margin-top: 3px;
}
.bmenu ul li a span{
  position: absolute;
  margin-left: 15px;
  left: 0;
  margin-top: 3px;
} 
.tb-data{
  padding-top: 40px;
}
.tb-data table{
  width: 100%;
  font-size: 16px;
}
.tb-data table tr td:nth-child(odd){
  font-weight: bold;
  width: 110px !important;
  vertical-align: top;
}
.tb-data table tr td.des{
  font-size: 14px;
  font-weight: normal;
}
.tb-data table tr td:nth-child(even){ 

}

.input-group-addon{
  margin-right: 10px;
  position: relative;
  z-index: 99;
  margin-top: -27px;
  float: right;
}

.wickedpicker{
  width: 160px !important;
}

.bg-bottom{
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-full .modal-content{
  min-height: 95vh !important;
}
.jobFinish h5 , .jobFinish .form-check-label{  
  font-size: 14px;
}

fieldset.xborder { 
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 15px;
}

fieldset.xborder legend {
  width:inherit;  
  padding:0 10px;  
  border-bottom:none;
  margin-left: 20px;
  font-size: 16px;
}


.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.bootstrap-select .dropdown-menu{
  width: 100% !important;
}
.bootstrap-select{
  border: 1px solid #ced4da;
  border-radius: .25rem; 
  font-size: 16px !important;
}
.filter-option-inner-inner{
  font-size: 14px !important;
}
.btn.dropdown-toggle.btn-light{
  background-color: #fff !important;
}
.bootstrap-select .text{
  font-size: 16px !important;

}
.jobFinish strong{
  font-size: 15px;
}

.jobFinish .modal-body { 
  padding: 0rem;
}